.projects__img{
    width: 350px;
    height: 230px;
    border: 1px solid black;
}

.projects__img:last-child{
    padding-right: 0;
}

.projects__img:hover {
    cursor: pointer;
}

@media (max-width: 720px) {
    .projects__img{
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 420px) {
    .projects__img{
        width: 320px;
        height: 210px;
    }
}

@media (max-width: 320px) {
    .projects__img{
        width: 300px;
        height: 196px;
        margin: 0 7px;
    }

}