.skills__card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 530px) {
    .skills__card {
        border-bottom: .1px solid red;
    }

    .skills__card:last-child {
        border-bottom: none;
    }
}