.email__download{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: lightcoral;
    padding: 10px 100px;
    font-size: 25px;
    font-weight: 300;
    border: 0;
}

@media (max-width: 450px) {
    .email__download {
        padding: 10px 50px;
        font-size: 20px;
    }
}