.footer__text{
    margin: 0;
    width: 80px;
    font-weight: 400;
    font-size: 20px;
    padding-right: 10px;
}

.footer__text span:first-child {
    color:lightcoral;
}

.footer__text span:last-child {
    color:lightskyblue;
}