.programms__img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .programms__img {
        width: 140px;
        height: 140px;
    }
}